src/test/resources/org/atheby/tau/restassured/dataSet.dtd

<!ELEMENT dataset (
    BLOG*,
    COMMENT*,
    POST*)>

<!ELEMENT BLOG EMPTY>
<!ATTLIST BLOG
    ID CDATA #REQUIRED
    TITLE CDATA #IMPLIED
>

<!ELEMENT COMMENT EMPTY>
<!ATTLIST COMMENT
    ID CDATA #REQUIRED
    POSTID CDATA #IMPLIED
    AUTHOR CDATA #IMPLIED
    TEXT CDATA #IMPLIED
>

<!ELEMENT POST EMPTY>
<!ATTLIST POST
    ID CDATA #REQUIRED
    BLOGID CDATA #IMPLIED
    TITLE CDATA #IMPLIED
    TEXT CDATA #IMPLIED
>

